# Default ignored files
# /.gitignore
/.idea/
*.ipynb_checkpoints
*.DS_Store
*.pyc
/wgpack/creds.py
/wgpack/config.py
/wgpack/__pycache__/*
wgpack/xmls/*

# MISC
/tests/test_adcp_forRay.ipynb
/tests/plotWGadcp_autoplot.ipynb
/tests/plotWGadcp_autoplot_concat.ipynb
/arcterx/Ole_vs_Ragnar_mets.ipynb
/dev/*
#/xmls/*
