# Default ignored files
# /.gitignore
/.requirements_ver.txt
/.idea/
*.ipynb_checkpoints
*.DS_Store
*.pyc
/wgpack/creds.py
/wgpack/config.py
/wgpack/__pycache__/*
wgpack/xmls/*

# ARCTERX
/arcterx
# /arcterx/*.ipynb

# data
/data/DM/*

# MISC
/dev/*
/xmls/*
/troubleshooting/*

# Processing scripts
/proc_scripts
