# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anyio
appdirs
appnope
argon2-cffi
async_generator
attrs
babel
backcall
backports
backports.functools_lru_cache
bcrypt
beautifulsoup4
bleach
boost-cpp
branca
brotlipy
bs4
bzip2
c-ares
ca-certificates
cached-property
cached_property
cairo
cartopy
certifi
cffi
cfitsio
cftime
charset-normalizer
click
click-plugins
cligj
cloudpickle
cmocean
colorspacious
cryptography
curl
cycler
cytoolz
dask-core
dbus
debugpy
decorator
defusedxml
entrypoints
enum34
expat
fiona
folium
fontconfig
freetype
freexl
fsspec
gdal
geographiclib
geopandas
geopandas-base
geopy
geos
geotiff
gettext
giflib
glib
glib-tools
gsw
h5py
hdf4
hdf5
icu
idna
imagecodecs-lite
imageio
importlib-metadata
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_genutils
ipywidgets
isodate
jbig
jedi
jinja2
joblib
jpeg
json-c
json5
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kealib
kiwisolver
krb5
lcms2
lerc
libblas
libcblas
libclang
libcurl
libcxx
libdap4
libdeflate
libedit
libev
libffi
libgdal
libgfortran
libgfortran5
libglib
libiconv
libkml
liblapack
libllvm11
libnetcdf
libnghttp2
libopenblas
libpng
libpq
librttopo
libsodium
libspatialindex
libspatialite
libssh2
libtiff
libwebp-base
libxml2
libxslt
libzip
libzlib
llvm-openmp
locket
lxml
lz4-c
mapclassify
markupsafe
matlabengineforpython
matplotlib
matplotlib-base
matplotlib-inline
matplotlib-scalebar
metpy
mistune
munch
mysql-common
mysql-libs
nbclassic
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
netcdf4
networkx
notebook
nspr
nss
numpy
olefile
openjpeg
openssl
packaging
pandas
pandoc
pandocfilters
paramiko
parso
partd
pathlib
patsy
pcre
pexpect
pickleshare
pillow
pint
pip
pixman
platformdirs
pooch
poppler
poppler-data
postgresql
proj
prometheus_client
prompt-toolkit
prompt_toolkit
ptyprocess
pycparser
pygments
pynacl
pyopenssl
pyparsing
pyproj
pyqt
pyqt-impl
pyqt5-sip
pyqtchart
pyqtwebengine
pyrsistent
pyshp
pysocks
python
python-dateutil
python-wget
python_abi
pytz
pywavelets
pyyaml
pyzmq
qt
qtconsole
qtconsole-base
qtpy
readline
requests
requests-file
requests-toolbelt
requests-unixsocket
rtree
scikit-image
scikit-learn
scipy
seawater
send2trash
setuptools
shapely
simplekml
six
sniffio
soupsieve
sqlite
statsmodels
terminado
testpath
threadpoolctl
tifffile
tiledb
tk
toolz
tornado
traitlets
typing_extensions
tzcode
tzdata
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
xarray
xerces-c
xyzservices
xz
yaml
zeep
zeromq
zipp
zlib
zstd
